{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block extra_head %} {% endblock extra_head %}

{% block navbar %}
<nav x-data="{ isOpen: false }" class="relative bg-white shadow dark:bg-gray-800">
  <div class="container px-6 py-4 mx-auto md:flex md:justify-between md:items-center">
      <div class="flex items-center justify-between">
          <div>
              <a class="text-2xl font-bold text-gray-800 transition-colors duration-300 transform dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300" href="#">Marcador Mundial de Wordle</a>
          </div>
      </div>
  </div>
</nav>


{% endblock navbar %}
{% block content %} 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data_line = google.visualization.arrayToDataTable([
      ['día', 'donetch', 'mesías','montero'],
      ['01/10',  0,0,0],
      ['02/10',  1,0,0],
      ['03/10',  1,1,0],
      ['04/10',  1,1,0],
      ['05/10',  1,1,1],
      ['06/10',  2,1,1],
      ['07/10',  2,1,1],
      ['08/10',  2,1,1],
      ['09/10',  2,1,1],
      ['10/10',  2,2,1],
      ['11/10',  2,3,1],
      ['12/10',  3,3,1],
      ['13/10',  3,4,1],
      ['14/10',  3,4,1],
      ['15/10',  4,4,1],
      ['16/10',  5,4,1],
      ['17/10',  6,4,2],
      ['18/10',  6,5,2],
      ['19/10',  7,5,3],
    ]);

    var options_line = {
      //title: 'Desempeño Acumulado Mes Actual',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart_line = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart_line.draw(data_line, options_line);



    var data_donut = google.visualization.arrayToDataTable([
      ['Jugador', 'Trofeos'],
      ['donetch',     0],
      ['mesías',      2],
      ['montero',  2],

    ]);

    var options_donut = {
      //title: 'Trofeos Mensuales',
      pieHole: 0.4,
    };

    var chart_donut = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart_donut.draw(data_donut, options_donut);
  }

  $(window).resize(function(){
    drawChart();
  });
</script>


<br>
<div class="main">
  <h1 class="text-2xl font-medium title-font mb-4 text-center text-gray-900 tracking-widest">MES EN CURSO</h1>
  <div id="curve_chart" ></div>
</div>
<div class="menu">
  <h1 class="text-2xl font-medium title-font mb-4 text-center text-gray-900 tracking-widest">TROFEOS MENSUALES</h1>
  <div id="donutchart"></div>
</div>
<br><br><br>
<section class="text-gray-600 body-font" >
    <div class="container px-5 py-24 mx-auto" style="padding-top:0;">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-2xl font-medium title-font mb-4 ttext-gray-900 tracking-widest">NUESTROS JUGADORES</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Este es el selecto grupo de valientes hombres y mujeres, únicos en este planeta, que se aterven a jugar a este peligroso juego.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="{% static "imagenes/sergio.jpg" %}">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Sergio Mesías del Mundo</h2>
              <h3 class="text-gray-500 mb-3">Puertoriqueño Part-time</h3>
              <p class="mb-4">Inefable Experiencia en Wordle, primer campeón mensual. Hoy apenas tiene tiempo para tipear dos letras, aún así es un rival respetable, aunque a veces oscuro</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="{% static "imagenes/manuel.jpg" %}">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Manuel "No soy competitivo" Montero</h2>
              <h3 class="text-gray-500 mb-3">Cocinero</h3>
              <p class="mb-4">Aprendió a deletrear palabras de 5 letras a la tierna edad de 19 años. Se tienen serias sospechas que es solo una fachada y que es Tomás Montero, su segundo hijo, el que realmente juega.</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="{% static "imagenes/pablo.jpg" %}">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-gray-900">Pablo tupadre Donetch</h2>
              <h3 class="text-gray-500 mb-3">Eterno Benefactor de los Seres Inferiores</h3>
              <p class="mb-4">La realidad debe ser contada, y es que Pablo es el verdadero dios del Wordle, pero en su misericordia infinita deja que otros seres inferiores, de cuya felicidad depende estas nimineidades, ganen.</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block footer %} {% endblock footer %}
{% block javascript %} {% endblock javascript %}