{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .menu {
          width: 30%;
          float: left;
          padding-bottom: 50px;
        }
      
        .main {
          width: 70%;
          float: left;
          padding-bottom: 50px;
        }
        @media (max-width: 767px) {
        .menu {
          width: 100%;
        }
      
        .main {
          width: 100%;
        }
    }
    </style>
    {% block title %}<title>Marcador Wordle</title> {% endblock title %}
    {% block extra_head %} {% endblock extra_head %}
    {% tailwind_css %}
</head>
<body>
    {% block navbar %} {% endblock navbar %}
    {% block content %} {% endblock content %}
    {% block footer %} {% endblock footer %}
    {% block javascript %} {% endblock javascript %}
</body>
</html>